@font-face {
    font-family: "mulish";
    src: local("mulish"), url(../../public/fonts/mulish/Mulish-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "mulish";
    src: local("mulish"), url(../../public/fonts/mulish/Mulish-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "mulish";
    src: local("mulish"), url(../../public/fonts/mulish/Mulish-Light.ttf);
    font-weight: lighter;
}
