$white-color: #fff;
$color-message-add: #f6f6f6;
$color-message-add-complete: #e5e5e5;
$time-color: #333;
$main-app-color: #000;
$color-modal-background: #53535380;
$color-modal-background-authorization: #535353;
$border-color: #00000046;
$color-body: rgb(253, 237, 235);
$color-bg-chat: rgb(253, 249, 249);